@font-face {
  font-family: 'BDC_Brush';
  src: url('./BDC_Brush Fire-Dry.otf') format('opentype');
}

.navhead {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'BDC_Brush';
}

.bgbody {
  background: url(https://images.unsplash.com/photo-1597012523223-3b2300183816?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1482&q=80)
    no-repeat center center fixed;
  background-size: cover;
}

.choc {
  height: 40%;
  width: 40%;
}

.storeCard {
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  #pepperTime {
    background-color: rgba(255, 114, 92, 0.98);
  }
}

.navlinks:focus {
  outline: 0 !important;
}

.singlecard {
}

.patternline {
  background-image: radial-gradient(currentColor 1px, transparent 1px),
    radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(20 * 1px) calc(20 * 1px);
  background-position: 0 0, calc(10 * 1px) calc(10 * 1px);
}

.zigzag {
  background: linear-gradient(135deg, currentColor 25%, transparent 25%) -25px 0,
    linear-gradient(225deg, currentColor 25%, transparent 25%) -25px 0,
    linear-gradient(315deg, currentColor 25%, transparent 25%),
    linear-gradient(45deg, currentColor 25%, transparent 25%);
  background-size: calc(2 * 25px) calc(2 * 25px);
}

#carousel {
  height: 90%;
  width: 90%;
  justify-self: end;
}

.heatarticle {
  padding-left: 20px;
  height: 400px;
  width: 400px;
}

@media screen and (min-width: 768px) {
  .carouselGrid {
    display: grid;
    justify-content: center;

    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  #carousel {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  #carousel {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .heatarticle {
    justify-self: start;
  }
}
